/*OrgPadrão*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BodyDefault*/
body {
    font-family: "Inter", "Segoe UI", sans-serif;
    background: linear-gradient(180deg, #0f111a, #181b25);
    color: #e4e6eb;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*Menu*/
.menu {
    background: rgba(255, 255, 255, 0.05);
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.menu a {
    color: #d2d2d2;
    text-decoration: none;
    margin: 0 20px;
    font-weight: 500;
}

.menu a:hover {
    color: #6ab7ff;
}

.menu a.press {
    color: #6ab7ff;
    font-weight: 600;
}

/*Body*/
main {
    flex: 1;
    padding: 20px 10%;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 2.2rem;
    color: #6ab7ff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.initText {
    max-width: 600px;
    margin: 0 auto;
    color: #c9c9c9;
}

/*Links*/
a {
    color: rgb(149, 212, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*Tabela*/
.tabela {
    margin: 40px auto;
    border-collapse: collapse;
    width: 60%;
    border-radius: 5px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.03);
}

.tabela th, .tabela td {
    padding: 12px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.tabela td:not(:last-child), .tabela th:not(:last-child) { /*Garante q somente a primeira célula seja afetada*/
    border-right: 1px solid rgba(255, 255, 255, 0.205);
}

.tabela th {
    background: rgba(255, 255, 255, 0.07);
    color: #6ab7ff;
    text-align: left;
}

.tabela tr:hover {
    background: rgba(255, 255, 255, 0.08);
}

/*Canvas*/
canvas {
    display: block;
    margin: 20px auto;
}

.canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    text-align: center;
}

/*Animação Canvas*/
 .animation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.animation-area {
    position: relative;
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.03);
    overflow: hidden;
    margin-top: 50px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

#animated-image {
    position: absolute;
    width: 50px;
    height: 50px;
    pointer-events: none;
    z-index: 10;
}

.particle {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    z-index: 5;
}

/*Rodape*/
footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    color: #888;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}